root = true

[*]
charset = utf-8

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = silent

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent
