# Godot 4+ specific ignores
.godot/
/android/

# Backup csproj
*.csproj.old*

# Backup blender files
*.blend1
*.blend2

# C# Dev Kit cache
*.lscache

# Project nogit folder
.nogit/

# weird file that terrain3d keeps adding/removing
addons/terrain_3d/bin/~libterrain.windows.debug.x86_64.dll
