# Godot 4+ specific ignores
.godot/
/android/

# Backup csproj
*.csproj.old*

# Backup blender files
*.blend1
*.blend2

# Project nogit folder
.nogit/

# Editor files
.vscode/
*.lscache

# odd file that Terrain3D keeps adding/removing
addons/terrain_3d/bin/~libterrain.windows.debug.x86_64.dll
